<tr>
    <td>{{name}}</td>
    <td>{{dosage}}</td>
    <td>{{comments}}</tb>
    <td>{{format_date fromDate}} to {{format_date toDate}}</tb>
    <td><button class="btn btn-sm btn-danger" data-id="{{id}}">🗑</button></td>
</tr>